<launch>
    <arg name="drone_id" default="1"/>
    <arg name="drone_num" default="6"/>

    
    <node pkg="decision" type="rflysimindoorcontroller_r2018b_n12_v9_node" name="rflysimindoorcontroller_r2018b_n12_v9_node" output="screen">
        <remap from="/drone_$(arg drone_id)/mavros/setpoint_velocity/cmd_vel"
            to="/mavros/setpoint_velocity/cmd_vel"
        />
    </node>

    <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="drone_num" value="$(arg drone_num)"/>
    </include>
    <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="$(arg drone_id)"/>
    </include>
</launch>