<launch>
   <!--  -->
   <arg name="IP" value="192.168.111.9" />
   <group ns="drone_1">
      <arg name="ID" value="1"/>
      <arg name="fcu_url" default="udp://:20101@$(arg IP):20100"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_2">
      <arg name="ID" value="2"/>
      <arg name="fcu_url" default="udp://:20103@$(arg IP):20102"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_3">
      <arg name="ID" value="10"/>
      <arg name="fcu_url" default="udp://:20141@$(arg IP):20140"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_4">
      <arg name="ID" value="11"/>
      <arg name="fcu_url" default="udp://:20143@$(arg IP):20142"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>

</launch>