<launch>
   <!-- DDS -->
   <arg name="mav_id" default="1" />
   <arg name="mav_num" default="12" />
   <node pkg="bs_assis" type="mavpv_node" name="mavpv_node_$(arg mav_id)" output="screen" required="true">
        <param name="mav_id" value="$(arg mav_id)"/>
        <param name="mav_num" value="$(arg mav_num)"/>
   </node>

   <!-- MAVROS -->
   <arg name="fcu_url" default="/dev/ttyUSB0:115200"/>
   <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(arg mav_id)"/>
      <arg name="tgt_component" value="1"/>
   </include>

   <node pkg="mavros" type="mavcmd" name="cmdlong" output="screen" 
       args="long 511 32 25000 0 0 0 0 0" 
   />
</launch>